@tailwind base;
@tailwind components;
@tailwind utilities;

.poster-icon {
    all: unset;
}
#player > [data-player] {
    padding-bottom: 56.25%;
    height: auto !important;
}
#player > .fullscreen[data-player] {
    padding-bottom: 0;
    height: 100% !important;
}