body{
    margin: 0;
    font-family: sans-serif;
  }
  .container{
    max-width: 1400px;
    margin: 0 10px;
  }

  @media (min-width: 1024px) {
    .container{
      width: 70%;
      margin: 0 auto;
    }
  }

  #player > [data-player] {
    padding-bottom: 56.25%;
    height: auto !important;
  }
  #player > .fullscreen[data-player] {
    padding-bottom: 0;
    height: 100% !important;
  }